<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet">
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}
        <div id="content-area" class="container">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis eum molestiae quod, officiis soluta ea. Perferendis sequi quos a, earum reiciendis accusamus eaque dolorum aliquam. Quisquam quaerat animi id saepe, maxime quis neque, ullam provident ex, consequatur quo. Beatae quae consequatur voluptates cum enim eveniet obcaecati distinctio ea necessitatibus, architecto omnis unde. Laudantium pariatur, veniam deserunt iste quibusdam libero placeat consectetur numquam tenetur asperiores? Esse aut aspernatur cupiditate, molestias inventore veniam suscipit tempora incidunt vero eius temporibus corrupti atque saepe deleniti autem velit dolor dignissimos distinctio placeat magnam molestiae. Aliquid accusantium, ut assumenda iusto facilis ab molestiae! Corrupti, molestias adipisci.</p>
        </div>
        {{>footer}}
        <script src="/js/client.js"></script>
    </body>
</html>