<div class="clear-fix h-line container" ></div>
<div id="footer-area" class="container">
    <div id="footer-des"><p>Weather forecasting, web based simple application design using JavaScript and Nodejs by Rajitha Kumara.</p></div>
    <div id="footer-nav">
        <ul>
            <li><a href="#">Weather</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</div>