<div id="header-area" class="container">
    <div id="nav-links-area">
        <div id="icon-area">
            <img src="/img/cloudy.png" width="100px" height="100px">
        </div>
        <ul>
            <li><a href="#">Weather</a></li>
            <li><a href="#">About</a></li>
        </ul>
        </div>
    <div id="seach-box-area">
        <div id="search-container">
            <form>
                <div id="search-input">
                    <input type="text" placeholder="Location Search" required>
                </div>
                <div id="search-submit">
                    <button type="submit"><img src="/img/search.png" width="40px" height="40px"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="clear-fix h-line container" ></div>