* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clear-fix {
    clear: both;
}

.container {
    max-width: 800px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #707070;
}

#header-area ul {
    list-style: none;
    float: right;
    margin-top: 95px;
    margin-left: 50px;
}

#header-area ul li {
    float: left;
    margin-right: 25px;
}

#header-area ul li a {
    font-size: 24px;
}

#icon-area {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 30px;
}

#header-area {
    height: 22vh;
}

#nav-links-area{
    float: left;
}

#seach-box-area {
    float: right;
    margin-top: 45px;
}

#search-input {
    float: left;
    margin-top: 28px;
    margin-left: 40px;
}

#search-input input {
    border: none;
    outline: none;
    width: 165px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#search-input input[type="text"] {
    font-size: 18px;
    color: #696969;
}

#search-input input[type="text"]::placeholder {
    font-size: 18px;
    font-weight: 100;
}


#search-submit {
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}

#search-submit button {
    border: none;
    background-color: transparent;
}

#search-submit button img {
    cursor: pointer;
}

#search-container {
    height: 80px;
    width: 280px;
    border: 2px solid #707070;
    border-radius: 100px;
}

#content-area {
    height: 65vh;
    overflow-y: auto;
}

.h-line {
    background-color: #b9b7b77a;
    height: 1px;
    border-radius: 5px;
}

#footer-area {
    height: 12vh;
    color: #b9b7b7;
    font-weight: lighter;
    font-size: 12px;
}

#footer-nav li a {
    color: #b9b7b7;
    font-weight: lighter;
    font-size: 12px;
}

#footer-des {
    margin-top: 10px;
    width: 300px;
    float: left;
}

#footer-nav {
    margin-top: 10px;
    float: right;
}

#footer-nav ul li {
    list-style: none;
    text-align: right;
}

.div-content-box {
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 0.8rem;
    position: relative;
}

.div-content-box .span-details-title {
    font-size: 12px;
    font-weight: 400;
    color: #4b4b4b;
}

.div-content-box .span-details-value {
    font-size: 12px;
    font-weight: 200;
    color: #797979;
    margin-left: 4px;
}

.div-content-box .info-title {
    font-size: 16px;
    font-weight: 500;
    color: #2c2c2c;
}

.div-content-box .base-info {
    margin-top: 8px;
}

.btn-dynamic {
    background-color: transparent;
    border: 1px solid #b9b7b7;
    border-radius: 30px;
    width: 70px;
    padding: 5px 0px;
    color: #b9b7b7;
}

.btn-dynamic:hover {
    cursor: pointer;
}

.more-button {
    position: absolute;
    top: 25px;
    left: 325px;
}

.weather-button {
    position: absolute;
    top: 25px;
    left: 225px;
    border: 2px solid #707070;
    font-weight: 600;
    color: #707070;
}


::-webkit-scrollbar {
    width: 5px;
}
  
  ::-webkit-scrollbar-track {
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.295);
    border-radius: 10px;
}